header{
    background-image: url('f.png');
    background-size: cover;
    background-position: center;
    padding: 140px 25px;
    display: flex;
    justify-content: center;
    align-items: top;
    flex-wrap: wrap;
    
   
}
.header_text{
    width: 700px;
}
.bild{
    height: 600px;
    width: 600px;
    max-width: 100vw;
    max-height: 100vw;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}
.bild img{
    width: 100%;
    
}
nav{
    margin-bottom: 150px;
}
nav ul{
    list-style: none;
    display: flex;
    gap: 20px;
}
nav a{
    color: lightblue;
    text-decoration: none;
    position: relative;
    padding: 3px;
}
nav a:hover{
    color: white;
    text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.3);
}
nav a::after{
    content: '';
    height: 2px;
    width: 0%;
    background: var(--main-brand-color);
    position: absolute;
    bottom: 0;
    left: 0;
    transition: 150ms ease-in-out;

}
nav a:hover::after{
    width: 100%;

}
#toggle_button{
    display: none;
}
label[for="toggle_button"]{
    display: none;
}
label[for="toggle_button"] span{
    font-size: 40px;
}
@media(max-width: 900px){
    nav{
        position:absolute;
        top: 0;
        left: 0;
        background-color: rgb(55, 34, 117);
        padding: 15px;
        border-radius: 0 0 25px 0;
    }
    nav ul{
        display: none;
        flex-direction: column;
    }
    #toggle_button:checked ~ ul{
    display: flex;}
    label[for="toggle_button"]{
        display: block;
    }
    header{
        gap: 50px;
    }

    h1{
        padding: 18px;
    }

}
